/* #img1{
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-image: 1px;
    border-radius: 15px;
    height: 650px;
    width: 718px;
}

#img2 {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-image: 1px;
    border-radius: 15px;
    height: 400px;
    width: 400px;
    align-items: flex;
} */
/* 
#item2{
    padding: 2px;
   
} */

#item1 {
    background-image: '../Images/home1.png';
}